<!doctype html>
<html ng-app="myApp">
    <head>
        <title>Socket.IO chat</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/lib/angular.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.js">
        </script>
        <script src="/js/login.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div id="login">
            <p>Enter your name:</p>
            <p id="loginError"></p>
            <form id="setUsername">
                <input id="username" ng-model="setName" />
                <input type="submit"></input>
            </form>
        </div>
        <div id="chat" ng-controller="mainController">
            <ul id="messages"></ul>
            <div id="chatInput">
                <input id="m" ng-model="message" autocomplete="off" />
                <button ng-click="send()">Send</button>
            </div>
        </div>
    </body>
</html>